<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Predicción</title>
</head>
<body>
    <h1>Formulario de Predicción</h1>
    <form action="/predecir" method="post">
        Carrera: <input type="text" name="CARRERA"><br>
        Sexo: <input type="text" name="SEXO"><br>
        Colegio de Procedencia: <input type="text" name="COLEGIO_PROCENDENCIA"><br>
        Año y Periodo: <input type="text" name="AÑO_PERIODO" value="2025-II"><br>
        Puntaje: <input type="number" name="PUNTAJE"><br>
        Edad: <input type="number" name="EDAD"><br>
        Número de Postulación: <input type="number" name="NRO_POSTULACION"><br>
        <input type="submit" value="Predecir">
    </form>
</body>
</html>
